# CRM API Configuration
CRM_API_URL=https://inwo.crmcore.me/api/lead_management/api/affiliates
CRM_AUTH_TOKEN=AFF_1_92cbc1bc76284e19b711bab22587d75f

# Vercel Blob Storage Configuration (Optional - fallback to local file lead_counter.json)
BLOB_READ_WRITE_TOKEN=
